
h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f3890c;
    padding: 0;
    height: 46px;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.7rem;
    padding: 12px;
    color:white;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: white;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.5rem;
}
.faqs{text-align:center;
    margin-bottom: 30px;}